*~
kafka-streams-example/pom.xml
kafka-producer-consumer-example/pom.xml
*.jar
*.class
/lib/
/classes/
target
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
*.iml
/.idea
.lsp/
.clj-kondo
